
/*Позиция элемента на линии - 

grid-column-start: 1; - элемент находится в первой позиции на линии, 
grid-column-end: 5; - элемент займет все 5 частей линии (если у нас линия состоит из 5 колонок)
*/


* {
     margin: 0;
     padding: 0;
     list-style-type: none;
}


header,#slider,main,aside,footer {
     background-color: #00c557;
}


body {
     display: grid;
     grid-template-areas: 
     "header header header header header"
     "slider slider slider slider slider"
     "main main main main main"
     "footer footer footer footer footer";
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 120px 500px auto 250px;
     gap: 10px;
     grid-column-gap: 5px;
     
     
     

}

header {
     display: grid;
     grid-area: header;
     
}

header nav {
  display: grid;
  grid-template-columns: 5% 10% 7% 65% auto;
  font-size: 1.2em;
  margin: 3px;
  height: 100%;
  
}


header ul {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
     align-items: center;
}


header li {
  display: grid;
  align-items: center;
  justify-items: center;
  border: 2px solid grey;
  
}




#slider {
     grid-area: slider;
     margin: 5px;
}

main {
     grid-area: main;
     
  
}

aside {
     grid-area: aside;
}

footer {
     grid-area: footer;
}


footer {
     display: grid;
     grid-template-rows: 1fr 3fr 1fr;
     grid-template-columns: 1fr 2fr 1fr 2fr 2fr;
     padding: 0 2%;
}




.grid {
     display: grid;
     gap: 5px;
     grid-template-columns: 25% 25% 30% auto;
     grid-template-rows: 100px 20px 30px 40px;
     
     
}

.grid div {
     background-color: blueviolet;
     border: 2px solid grey;
     height: 50px;
     
}


.zvonok a {
     padding-top: 10px;
}

.logo img {
     height: 50%;
}

.zvonok {
     display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 15px;
    height: 50%;
}

.logo {
     display: grid;
     grid-template-columns: 1fr;
     background-color: #00fa9a;
     border: 1px solid grey;
}


.burger-menu {
     display: grid;
     grid-template-columns: 1fr;
     background-color: #61ffa5;
     border: 1px solid grey;
}






.phone-company {
     display: grid;
     grid-template-columns: 1fr;
     background-color: #00c77b;
     border: 1px solid grey;
     font-size: 0.9em;
     
     
}

.our-menu {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
     background-color: #0bda51;
     border: 1px solid grey;
     font-size: 0.9em;
}



#slider img {
    width: 100%;
  height: 500px;
}

#slider {
     background-image: url(../images/uslugi-bg.jpg);
     position: relative;
}


#slider .utp {
     display: grid;
     grid-template-columns: 100%;
     margin-top: 10%;
     text-align: center;
     font-size: 1.1em;
}


#slider .text-slider-active {
    display: grid;
    grid-templage-column: 100%
    
    position: absolute;
    font-size: 1.2em;
    color: black;
    
    border: 2px solid #00c557;
    justify-content: center;
    
   
    
     
}


.contact-line {
     display: grid;
     grid-template-colums: 100%
     font-size: 1.2em;
     border: 2px solid #00c557;
     justify-content: center;
     color: black;
     align-items: center;
     margin: 1%;

}

.contact-line form {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 100%;
     margin: 1%;
     padding: 0.9%;
     
     
}

.contact-line input {
     padding: 5%;
     margin-left: 2%;
     
}

.price-list {
     margin: 2%;
     display: grid;
     grid-template-columns: auto-fill 1fr 1fr 1fr;
     
    
}

.get-price {
    display: grid;
     grid-template-columns: 100%;
     grid-column-end: 2;
     
}





main .work-section {
     
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 2%;
     margin: 1%;
     border: 1px solid grey;
     background-color: #ccffcc;
     justify-items: center;
     align-items: start;
     
     
}

.work-stage {
     margin-top: 2%;
     border: 1px solid grey;
     
}


.mt-50 {margin-top: 50px;}
.mb-30 {margin-bottom: 30px;}

.text-align-center {
     text-align: center;
}


.uslugi {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 1fr 1fr;
     justify-items: center;
     
}


.usluga-item {
     display: grid;
     
     margin: 1%;
     border: 1px solid grey;
     background-color: #00c4f4;
}


.adv {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 1fr 1fr;
     justify-items: center;
     margin-top: 1%;
     background-color: #a8ffab;
     justify-items: center;
     align-items: center;
     padding: 1%;
     

     
}


.adv-item {
     
     display: grid;
     grid-gap: 5%;
     margin: 2%;
     border: 1px solid grey;
     padding: 3%;
}


.test {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: repeat(2, 1fr);
     
}

.preimuschestva-portfolio {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr;
     
}


.test2 {
     display: grid;

     grid-column-start: 2;
     grid-column-end: 5;
     grid-row-start: 1;
     grid-row-end: 2;
}

.test3 {
     display: grid;

     grid-column-start: 2;
     grid-column-end: 5;
     grid-row-start: 2;
     grid-row-end: 3;
     justify-items: center;
}


.tehnika {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: repeat(3, 1fr);
     gap: 2%/2%;
     padding: 2%;
     grid-gap: 7%;
     background-color: #7fffd4;
     margin-top: 2%;

}


.tehnika-tab1 {
     display: grid;

     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 2;
     justify-items: start;
     border: 2px solid grey;
     padding: 3%;
     justify-self: center;
     text-align: center;
     font-size: 1.1em;
}

.tehnika-tab2 {
     display: grid;

     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 1;
     grid-row-end: 2;
     justify-items: start;
    border: 2px solid grey;
     padding: 3%;
     justify-self: center;
     text-align: center;
     font-size: 1.1em;
}

.tehnika-tab3 {
     display: grid;
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 2;
     justify-items: start;
     border: 2px solid grey;
     padding: 3%;
     justify-self: center;
     text-align: center;
     font-size: 1.1em;
}





.tehnika-elem1 {
     display: grid;
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 2;
     grid-row-end: 3;
     justify-items: center;
     border: 2px solid grey;
     text-align: center;
     padding: 3%;
}

.tehnika-elem2 {
     display: grid;
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 2;
     grid-row-end: 3;
     justify-items: center;
     border: 2px solid grey;
     text-align: center;
     padding: 3%;
}

.tehnika-elem3 {
     display: grid;
     grid-column-start: 4;
     grid-column-end: 5;
     grid-row-start: 2;
     grid-row-end: 3;
     justify-items: center;
     border: 2px solid grey;
     text-align: center;
     padding: 3%;
}


.tehnika-elem4 {
     display: grid;
     grid-column-start: 5;
     grid-column-end: 6;
     grid-row-start: 2;
     grid-row-end: 3;
     justify-items: center;
     border: 2px solid grey;
     text-align: center;
     padding: 3%;
}





.tehnika-text {
     display: grid;
     grid-column-start: 2;
     grid-column-end: 6;
     grid-row-start: 3;
     grid-row-end: 4;
     justify-items: center;
     border: 2px solid grey;
     text-align: center;
     padding: 3%;
     margin: 2%;
}


.portfolio {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: repeat(3, 1fr);
     background-color: #c5e6d1;
     padding: 2%;
     grid-gap: 3%;
     margin-top: 2%;
}

.portfolio-item-main {
     display: grid;
     grid-column: 1/4;
     grid-row: 1/2;
     border: 2px solid grey;
     text-align: center;
     padding: 5%;
     margin: 3%;
}

.portfolio-item-last {
    display: grid;
     grid-column: 2/5;
     grid-row: 3/3;
     border: 2px solid grey;
     text-align: center;
     padding: 5%;
     margin: 3%; 
}

.portfolio-item {
     display: grid;
     border: 2px solid grey;
     text-align: center;
     padding: 5%;
     margin: 3%;
}



.clients {
     display: grid;
     grid-template-columns: minmax(200px, 400px) 1fr 1fr 1fr 1fr;
     grid-template-rows: repeat( 3, 1fr);
     background-color: #e9f5ed;
     
}

.clients-item {
     display: grid;
     border: 2px solid grey;
     text-align: center;
     padding: 5%;
     margin: 3%; 
     
     
}


.clients-item: {
     display: grid;
     border: 2px solid grey;
     text-align: center;
     padding: 5%;
     margin: 3%;
}

.clients-item:nth-child(2) {
     display: grid;
     grid-column: 2/4;
     border: 2px solid grey;
     text-align: center;
     padding: 5%;
     margin: 3%;
}


.clients-item:nth-child(5) {
     display: grid;
     grid-column: 1/3;
     border: 2px solid grey;
     text-align: center;
     padding: 5%;
     margin: 3%;
}


.clients-item:nth-child(9) {
     display: grid;
     grid-column: 1/4;
     border: 2px solid grey;
     text-align: center;
     padding: 5%;
     margin: 3%;
}

.aktsia {
     display: grid;
     grid-template-columns: 2fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-column-gap: 2%;
     grid-row-gap: 2%;
     background-color: #85e6e6;
     padding: 5%;
     
}

.zagolovok {
     display: grid;
     grid-row: 1/3;
     grid-column: 1/3;
     margin-bottom: 2%;
     grid-row-gap: 3%;
}


.zagolovok-footer {
     display: grid;
     justify-items: center;
     margin-bottom: 2%;
     margin-top: 4%;
     grid-row-gap: 3%;
}


.aktsia-item {
     display: grid;
     grid-row: 2/4;
     grid-column: 1/2;
     border: 2px solid grey;
     text-align: center;
     padding: 3%;
     margin: 2%;
}


.aktsia-form {
    display: grid;
    grid-row: 2/4;
    grid-column: 2/4;
     border: 2px solid grey;
     text-align: center;
     padding: 3%;
     margin: 2%; 
}

#case-gallery {
     display: grid; 
     grid-template-column: 1fr 1fr 1fr;
     grid-template-rows: auto;
     grid-column-gap: 2%;
     grid-row-gap: 2%;
     background-color: #daf7f7;
     padding: 3%;
     
}

.text-typing
{
    width: 100%;
    color: #00c557;
    font-size: 25px;
    font-family: 'Marck Script', cursive;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 2s steps(50, end);
    animation: type 5s steps(50, end);
    text-align: center;
}
@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}


.case-filters {
     display: grid;
     grid-template-rows: 1fr;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
     margin-top: 1%;
     padding: 1%;
}


.case-filters-item {
    display: grid;
     grid-template-rows: 1fr;
     /*justify-items: center;*/
    
}


.filter-rem {
     border: 2px solid #00945b;
     background-color: #00fa9a;
     border-radius: 10px;
     text-align: center;
     margin: 2%;
     padding: 3%;
     
}

.filter-gen {
     border: 2px solid #00945b;
     background-color: #00fa9a;
     border-radius: 10px;
     text-align: center;
     margin: 2%;
     padding: 3%;
     
}


.filter-reg {
     border: 2px solid #00945b;
     background-color: #00fa9a;
     border-radius: 10px;
     text-align: center;
     margin: 2%;
     padding: 3%;
     
}

.filter-reg:hover {
     border: 2px solid #00945b;
     background-color: #00c77b;
     border-radius: 10px;
     text-align: center;
     margin: 2%;
     padding: 3%;
}

.filter-rem:hover {
     border: 2px solid #00945b;
     background-color: #00c77b;
     border-radius: 10px;
     text-align: center;
     margin: 2%;
     padding: 3%;
}


.filter-gen:hover {
     border: 2px solid #00945b;
     background-color: #00c77b;
     border-radius: 10px;
     text-align: center;
     margin: 2%;
     padding: 3%;
}

.case-area {
     display: grid;
     grid-template-rows: 1fr;
     grid-template-columns: 1fr 1fr 1fr;
     justify-items: center;
     align-items: center;
     margin-top: 2%;
     border: 2px solid grey;
     padding: 1%;
}


.case-item {
     display: grid;
     grid-template-rows: 1fr;
     grid-template-columns: 1fr;
     border: 2px solid grey;
     margin: 3% 2%;
     
}


.case-item p {
     text-align: center;
     font-weight: bold;
     margin: 5%;
}

.tabs {
     display: grid;
     grid-template-rows: auto;
     grid-template-columns: 1fr;
     margin: 2%;
     border: 2px solid grey;
     justify-items: center;
     align-items: center;
     background-color: #cafcca;
}

.tabs h2 {
  display: grid;     
  justify-items: center;
     align-items: center;  
     margin: 1.5%;
}

.tabs p {
  display: grid;     
  justify-items: left;
     align-items: center;  
     margin: 1.5%;
}


.button-up {
     display: grid;     
  justify-items: left;
     align-items: center;  
     margin: 1.5%;
     grid-template-columns: 1fr;
     border: 2px solid grey;
     justify-self: stretch;
     padding: 5%;
     justify-content: center;
}

.footer-menu {
     display: grid;     
  justify-items: left;
     align-items: center;  
     margin: 1.5%;
     grid-template-columns: 1fr;
     border: 2px solid grey;
     justify-self: stretch;
     padding: 5%;
     justify-content: center;
}
   
.share-buttons {
     display: grid;     
  justify-items: left;
     align-items: center;  
     margin: 1.5%;
     grid-template-columns: 1fr;
     border: 2px solid grey;
     justify-self: stretch;
     padding: 5%;
     justify-content: center;
} 


.footer-description {
     display: grid;     
  justify-items: left;
     align-items: center;  
     margin: 1.5%;
     grid-template-columns: 1fr;
     border: 2px solid grey;
     justify-self: stretch;
     padding: 5%;
     justify-content: center;
}  


.footer-contacts {
     display: grid;     
  justify-items: left;
     align-items: center;  
     margin: 1.5%;
     grid-template-columns: 1fr;
     border: 2px solid grey;
     justify-self: stretch;
     padding: 5%;
     justify-content: center;
}  
   
